@import "~normalize.css";

$color-primary: #1565C0;
$color-accent: #FF3D00;
$color-dark: #0D47A1;
$color-text: #E3F2FD;
$font-primary: 'Lato', sans-serif;
$font-alternate: 'Josefin Sans', sans-serif;
$spacer: 1rem;

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600|Lato');

html, body {
  margin: 0;
  padding: 0;
  color: $color-text;
  background-color: $color-primary;
  font: 16px/22px $font-primary;
}

h1, h2 {
  font-family: $font-alternate;
  font-weight: 600;
}

input {
  border: none;
  background-color: inherit;
  color: inherit;
  border-bottom: 2px solid $color-text;
  padding: 3px;
  outline: none;
  font: 16px/22px 'Lato', sans-serif;
}

button {
  border: none;
  border-radius: 3px;
  background-color: $color-accent;
  color: $color-text;
  padding: 5px 7px;
  font-family: $font-alternate;
  font-weight: 600;
  line-height: 1.4em;
  opacity: 0.85;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    opacity: 1.0;
  }
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 $spacer;
}

.entry-input {
  display: flex;

  input {
    flex-grow: 1;
    margin-right: $spacer;
    padding-left: $spacer;
  }

  button {
    align-self: flex-end;
  }
}

.entry-list {
  margin: $spacer*2 0;
  padding: 0;
}

.entry {
  border-radius: 3px;
  background-color: $color-dark;
  margin: $spacer 0;
  padding: 5px $spacer;
}
